name: Data Preprocessing

on:
  push:
    branches:
      - main

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout kode
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # 3. Install dependencies yang dipakai script
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy matplotlib seaborn scikit-learn

    # 4. Buat folder output (kalau belum ada)
    - name: Create output folder
      run: mkdir -p preprocessing/output

    # 5. Jalankan script preprocessing
    - name: Run preprocessing script
      run: python preprocessing/automate_muhammad_resa_oktavianto.py